/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "font-awesome";
@import "simple-line-icons";
@import "simple-line-icons";
@import "jquery.mCustomScrollbar";
@import "owl.carousel";
@import "owl.theme.default";
@import "plyr";



@font-face {
    font-family: robotoCondensed;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: robotoCondensed;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: robotoCondensed;
    src: url(../fonts/RobotoCondensed-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

.has-control-menu .portlet-boundary {
	float: left;width: 100%;
}


div#senna_surface1-default {
    max-width: 2000px;
    margin: 0 auto;
}

section#content{
	margin-top:70px;
}
.portlet-content {
    padding: 0px;
    border: 0px !important;
}

.portlet {
	margin-bottom: 0px;
}

.container-fluid-1280 {
	max-width:1920px;
}

div#wrapper.container-fluid {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
}

section#content {
    float: left;
    width: 100%;
}

.portlet-title-text { display:none !important;}
nav#breadcrumbs { display:none !important;}

#banner {
    position: absolute;
    z-index: 999;
    width: 100%;

    &::after {
	    content: "";
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    background-color: black;
	    z-index: -1;
	    opacity: 0.4;
	}
}

#wrapper { padding-top:0px !important;}


.containerImage {
    position: relative;
}

.itemCenter {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    z-index: 99;
    margin-left: -450px;
    margin-top: -250px;
    transition: left 0.5s linear, margin-left 0.5s linear;
    -webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);

}

.item {
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;
    float:left;
    left:0px;

    .imgContentVertical {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	}
}

.rombo {
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(45deg);
    overflow: hidden;
}

.imagenFondo {
    position: absolute;
    width: 300px;
    height: 294px;
    transform: rotate(-45deg);
    top: -50px;
    left: -50px;
    opacity: 0.7;
    z-index:2;
}

.colorFondo {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
    opacity: 0.8;
}

.itemContainer {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    align-items: center;
    justify-content: center;
    display: flex;

    &.bigIcontrue i {
		font-size: 31px;
	    margin-top: 28px;
	    margin-bottom: 12px;
	}
}

.iconoItem {
	display: inline-block;
    width: 50px;
    max-width: 50px;
    margin-bottom: 10px;
    clear: both;
    margin-top: 0px;
}

.iconoItem {
    font-size: 16px;
}

.tituloItem {
    display: block;
    clear: both;
    width: 160px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

.descItem {
    font-size: 13px;
    overflow: hidden;
    width: 172px;
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}

.item::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: -40px;
    left: 93px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(45deg);opacity:0;transition:opacity 0.2s linear;

}
.item::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    bottom: -40px;
    left: 93px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: rotate(45deg);
    z-index: 2;opacity:0;transition:opacity 0.2s linear;

}

.hoverSecondary::after {
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid white;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -7px;
    left: -40px;
    transform: rotate(45deg);
    border-right: 0px;
    border-top: 0px;opacity:0;transition:opacity 0.2s linear;
}

.hoverSecondary::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 3px solid white;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -7px;
    right: -40px;
    transform: rotate(45deg);
    border-left: 0px;
    border-bottom: 0px;opacity:0;transition:opacity 0.2s linear;
}

.imageOverlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
}

/*8*/
.containerImage{
	
	.item1{    margin-left: 90px;}
	.item2{    margin-left: 90px;}
	.item3{        margin-left: 145px;top: -55px;clear:left;}
	.item4{        top: -55px;
    margin-left: 90px;}
	.item5{        top: -108px;
    margin-left: 0px;
    clear: left;}
	.item6{        top: -108px;
    margin-left: 90px;}
	.item7{        top: -108px;
    margin-left: 90px;}
}

.containerImage.it8 {
    padding-left: 60px;
    padding-top:40px;
}


/*7*/
.containerImage.it7{

	.item.item0 {
	    margin-left: 181px;
	}
	.item.item1 {
	    margin-left: 90px;
	}
	.item.item2 {
	    margin-left: 35px;
	    top: -54px;
	    left: 2px;
	}

	.item.item3 {
	    margin-left: 91px;
	    top: -55px;clear:none;
	}.item.item4 {
	    top: -55px;
	    margin-left: 90px;
	}
	.item.item5 {
	    top: -109px;
	    margin-left: 182px;
	    clear: left;
	}

	.item.item6 {
	    top: -110px;
	    margin-left: 89px;
	}

}



/*6*/
.containerImage.it6{

	.item.item0 {
	    margin-left: 181px;
	}
	.item.item1 {
	    margin-left: 90px;
	}
	.item.item2 {
	    margin-left: 35px;
	    top: -54px;
	    left: 2px;
	}

	.item.item3 {
	    margin-left: 380px;
	    top: -54px;
	    clear:none;
	}

	.item.item4 {
	    top: -109px;
	    margin-left: 182px;
	}


	.item.item5 {
	    top: -109px;
	    margin-left: 87px;
	    clear:none;
	}


}



/*5*/
.containerImage.it5{

	.item.item0 {
	    margin-left: 200px;
	    top: 3px;
	}
	.item.item1 {
	    margin-left: 89px;
	    top: 3px;
	    left: 2px;
	}
	.item.item2 {
	    margin-left: 344px;
	    top: -52px;
	    left: 2px;
	    clear: left;
	}

	.item.item3 {
	    margin-left: -344px;
	    top: 93px;
	    clear:none;
	}

	.item.item4 {
	    margin-left: -51px;
	    top: 93px;
	}


}


/*4*/
.containerImage.it4{

	.item.item0 {
	    margin-left: 123px;
	    top: 3px;
	    margin-top: 110px;
	}
	.item.item1 {
	    margin-left: 89px;
	    top: 113px;
	    left: 2px;
	}
	.item.item2 {
	    margin-left: 267px;
	    top: -52px;
	    left: 2px;
	    clear: left;
	}

	.item.item3 {
	    margin-left: 92px;
	    top: -51px;
	    clear:none;
	}



}


/*3*/
.containerImage.it3{

	.item.item0 {
	    margin-left: 200px;
	    top: 3px;
	    margin-top: 110px;
	}
	.item.item1 {
	    margin-left: 89px;
	    top: 113px;
	    left: 2px;
	}
	.item.item2 {
	    margin-left: 344px;
	    top: -52px;
	    left: 2px;
	    clear: left;
	}




}



/*2*/
.containerImage.it2{

	.item.item0 {
	    margin-left: 200px;
	    top: 3px;
	    margin-top: 195px;
	}

	.item.item1 {
	    margin-left: 89px;
	    top: 198px;
	    left: 2px;
	}

}



/*1*/
.containerImage.it1{

	.item.item0 {
	    margin-left: 353px;
	    top: 3px;
	    margin-top: 195px;
	}

}



.containerImage{

	.item0{    transition: left 0.6s cubic-bezier(0.51, 0.02, 0.42, 0.6),opacity 0.5s linear; }
	.item1{    transition: left 0.5s cubic-bezier(0.51, 0.02, 0.42, 0.6),opacity 0.5s linear; }
	.item2{    transition: left 0.5s cubic-bezier(0.74, 0.49, 0.42, 0.6),opacity 0.5s linear;}
	.item3{    transition: left 0.5s cubic-bezier(0.46, 0.46, 0.42, 0.6),opacity 0.5s linear;}
	.item4{    transition: left 0.5s cubic-bezier(0.35, 0.49, 0.68, 0.59),opacity 0.5s linear;}
	.item5{    transition: left 0.5s cubic-bezier(0.61, 0.42, 0.68, 0.59),opacity 0.5s linear;}
	.item6{    transition: left 0.5s cubic-bezier(0.49, 0.63, 0.6, 0.71),opacity 0.7s linear;}
	.item7{    transition: left 0.5s cubic-bezier(0.49, 0.63, 0.6, 0.71),opacity 0.8s linear;}
}

.containerImagePrincipal.mostrarApertura .containerImage{

	.item0{   left:-200px;opacity:0; }
	.item1{   left:-450px;opacity:0; }

}

.containerImagePrincipal.mostrarApertura2 .containerImage{

	
	.item2{   left:-220px;opacity:0;}
	.item3{   left:-300px;opacity:0;}
	.item4{    left:-190px;opacity:0;}
	
}

.containerImagePrincipal.mostrarApertura3 .containerImage{


	.item5{   left:-210px;opacity:0;}
	.item6{   left:-560px;opacity:0;}

}



.containerImagePrincipal.mostrarApertura4 .containerImage{


	.item7{   left:-550px;opacity:0;}
}



















.rombo::after {
	content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0px;
    left: 0px;
    border: 1px solid white;
    opacity:0;
    transition:opacity 0.2s linear;
}

.item:hover {
	
	.rombo::after ,&:after ,&::before ,.hoverSecondary::after ,.hoverSecondary::before { opacity:1;}


}
.containerImagePrincipal { position:relative;height: 900px;overflow: hidden;margin-top:-70px;}

.contenidoApertura::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    left: 0px;
    top: 0px;
    z-index: 1;
    opacity: 0.2;
}

.contenidoApertura { transition:opacity 0.5s linear;position: relative;z-index:0;opacity:0;height: 100%;}

.contenidoApertura.mostrarAperturaTransicion {
    display: block !important;

}

.contenidoApertura.mostrarAperturaContenido {
    opacity: 1 !important;
    z-index:100;
    top: 0px;
    width:100%;
    height:100%;
    position:relative;
}

.aperturaContenedorPrincipal {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0px;
}
.aperturaContenidoBloque {
    position: relative;
    top: 0px;
    z-index: 101;
    width: 50%;
    max-width: 300px;
    margin-left: 2%;
    min-width: 709px;
    overflow: hidden;
    float: left;
    margin-top: 150px;
    height:auto;


}

.centradotrue.contenidoApertura .aperturaContenidoBloque {
	position: relative;
    top: 0px;
    z-index: 101;
    max-width: 10000px;
    margin-left: 2%;
    min-width: 709px;
    overflow: hidden;
    float: left;
    margin-top: 150px;
    height: 600px;
    width: 96%;

    .colorFondoApertura { display: none; }

    .aperturaParrafo {
	    position: relative;
	    z-index: 2;
	    color: #fff;
	    padding: 2%;
	    float: left;
	    width: 100%;
	    text-align: center;

	    .colorFondoApertura { display: block; top:0px;z-index: -1;}
	    div#mCSB_3_container {
		    padding-top: 20px;
		    padding-bottom: 20px;
		}
	}


	.dobleBotonera {
		    float: left;
		    width: 100%;
		    margin-top: 30px;

		    a {
			    margin-left: 25px;
			    margin-right: 25px;
			}
		}


}

.colorFondoApertura {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    top: 50px;
    left: 0px;
    z-index: 1;
      padding: 2%;
}


 

.aperturaParrafo {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 2%;
    float:left;
    clear: both;
}

.goBack {
    float: left;
    color: white;
    margin-bottom: 20px;
    clear: both;
    width: auto;
    position: relative;
    top: 0px;
    text-transform: uppercase;
    font-size: 12px;cursor:pointer;

    i.fa.fa-chevron-left {
	    margin-right: 23px;
	    font-size: 12px;
	}

    &::after {
	    content: "";
	    position: absolute;
	    width: 20px;
	    height: 2px;
	    background-color: white;
	    left: 5px;
	    top: 6px;
	}

     &:hover {
     text-decoration:underline;
     }
}

.aperturaParrafo h3 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "roboto";
}

.aperturaParrafo h2 {
    font-family: "roboto";
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 40px;
}


.aperturaParrafo hr {
    height: 5px;
    border: 0px;
    position: relative;
    line-height: 1px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aperturaParrafo hr::after {
	content: ".................";
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 6px;
    font-size: 8px;
    font-family: "verdana";
}

.aperturaParrafo {
    font-family: "roboto";
}

a.btn {
    border: 1px solid;
    border-radius: 20px;
    font-family: "roboto";
    text-transform: uppercase;
    font-size: 11px;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    margin-bottom:10px;
    position:relative;
    overflow: hidden;

    &:hover {
    	text-decoration:underline;
    }

    i {

	    position: relative;
	    left: 10px;

	}
}

a.btn.blanco {
    border-color: #fff;
    color: #fff;
    text-decoration:none;

    &::after {
	    content: "";
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    background-color: white;
	    border-radius: 20px;
	    z-index: -1;
	    opacity: 0;
	    transition:opacity 0.3s linear;
	}
	 &:hover::after {
	 	opacity: 0.2;
	 }
}

a.btn.negro {
    border-color: #000;
    color: #000;
    text-decoration:none;

    &::after {
	    content: "";
	    position: absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    background-color: #000;
	    border-radius: 20px;
	    z-index: -1;
	    opacity: 0;
	    transition:opacity 0.3s linear;
	}
	 &:hover::after {
	 	opacity: 0.2;
	 }
}


span.logoTricks {
    float: left;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}


span.logoTricks {
    float: left;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;

    span.a1 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 0px;
	    top: 0px;
	    border-radius: 50%;
	}

	span.a2 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 10px;
	    top: 0px;
	    border-radius: 50%;
	}

	span.a3 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 20px;
	    top: 0px;
	    border-radius: 50%;
	}

	span.a4 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 0px;
	    top: 10px;
	    border-radius: 50%;
	}

	span.a5 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 0px;
	    top: 20px;
	    border-radius: 50%;
	}

	span.a6 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 10px;
	    top: 20px;
	    border-radius: 50%;
	}

	span.a7 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 20px;
	    top: 20px;
	    border-radius: 50%;
	}

	span.a8 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 20px;
	    top: 10px;
	    border-radius: 50%;
	}

	span.a9 {
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #ffffff;
	    left: 10px;
	    top: 10px;
	    border-radius: 0px;
	    transform: rotate(45deg);
	}


}

span.logoName {
    color: #ffffff;
    text-transform: lowercase;
    font-size: 25px;
    margin-top: 20px;
    float: left;
}


div#heading {

    float: left;
    width:200px;
    padding-bottom:10px;

    h1 {
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
}


nav#navigation {
    float: left;
    width: calc(100% - 500px);
    text-align: center;
    display: inline-block;
    list-style: none;
    margin-top: 25px;

     ul {
	    margin: 0px;
	    padding: 0px;
	    list-style: none;


	    li {
		    display: inline-block;
		    min-width: 100px;
		    margin-left: 10px;
		    margin-right: 10px;
		    position:relative;
		    width: auto;

		    &::after {
			    content: "";
			    width: 100%;
			    height: 3px;
			    background-color: white;
			    position: absolute;
			    left: 0px;
			    bottom: -10px;
			    transition: opacity 0.3s linear;
			    opacity: 0;
			}

			&:hover::after { opacity:0.5;}

			&.selected::after {
				opacity:1 !important;
			}

		    &.selected a {
			    font-weight: bold;
			}

		    a {
			    color: #fff;
			    text-transform: uppercase;
			    font-family: "roboto";
			    font-size: 13px;text-decoration:none;
			}
		}
	}
}


.recursivas {
    float: right;
    width: 300px;
    margin-top:25px;
    color:#fff;
    font-family: "roboto";

    a {
    	color:#fff;

    }


    .buscador {
    	position: fixed;
	    left: 0px;
	    width: 100%;
	    height: 100%;
	    top: 0px;
	    z-index: 999;


	    .closeSearchMobile {
		    position: absolute;
		    width: 70px;
		    height: 70px;
		    background-color: #616060;
		    top: 0px;
		    z-index: 99;
		    right: 0px;
		    cursor: pointer;

		    &:hover {
		    	background-color:#2d2d2d;
		    }

		    &::after{
		    	content: "";
			    width: 3px;
			    height: 40px;
			    background-color: #fff;
			    position: absolute;
			    left: 50%;
			    margin-left: -2px;
			    transform: rotate(45deg);
			    top: 50%;
			    margin-top: -20px;
		    }

		    &::before {
			    content: "";
			    width: 3px;
			    height: 40px;
			    background-color: #fff;
			    position: absolute;
			    left: 50%;
			    margin-left: -2px;
			    transform: rotate(-45deg);
			    top: 50%;
			    margin-top: -20px;
			}
		}

	    &::before {
			    content: "";
			    position: absolute;
			    top: 0px;
			    left: 0px;
			    width: 100%;
			    height: 100%;
			    background-color: #fff;
			    opacity: 0.98;
			    z-index: 1;
			}



	.portlet-search {
	    float: left;
	    width: 100%;
	    position: absolute;
	    z-index: 1;
	    top: 50%;
	    margin-top: -25px;


	    h2.portlet-title-text {
		    display: block !important;
		    color: #2b2b2b;
		    margin-left: 10%;
		    margin-bottom: 30px;
		    margin-top: -20px;
		    font-family: "roboto";
		    font-size: 28px;
		}

	    .form-group.form-group-inline.input-text-wrapper {
		    margin-left: 10%;
		    width: 80%;
		}

		.field.search-input.form-control {
		    border-left: 0px;
		    border-top: 0px;
		    border-right: 0px;
		    box-shadow: none;
		    height: 50px;
		    font-size: 20px;
		}

		.lfr-ddm-field-group.lfr-ddm-field-group-inline.field-wrapper {
		    position: relative;
		    left: -51px;
		    top: -8px;
		}

		.lfr-icon-item.taglib-icon {
		    color: #2f2f2f;
		}

		.icon-monospaced .lexicon-icon {
		    display: block;
		    height: 41px;
		    line-height: 32px;
		    width: 45px;
		    padding: 8px;
		}
	}

		.portlet-decorate .portlet-content {
		    background-color: transparent;
		}
    }

    .idioma {
	    float: right;
	    margin-right:25px;

	    ul {
		    padding: 0px;

		    li {
			    float: left;
			    margin-left: 10px;
			    margin-right: 10px;
			    list-style: none;
			    font-size: 12px;
			    position: relative;
			}

			.dottedSeparator {
			    float: left;
			    width: 1px;
			    height: 20px;
			    margin-top: 2px;

			     span{

				    display: block;
				    width: 1px;
				    height: 1px;
				    background-color: #fff;
				    margin-bottom: 2px;
	
			     }
			}
		}
	}

	.mapaHome {
	    float: right;
	    cursor: pointer;

	    i.fa.fa-map-o {
		    font-size: 16px;
		}
	}
}

.circleSeparator {
    float: right;
    width: 30px;
    height: 10px;
    margin-top: 4px;
    position: relative;

    span {
	    display: block;
	    width: 3px;
	    height: 3px;
	    position: absolute;
	    background-color: #fff;
	    border-radius: 50%;
	    left: 50%;
	    top: 3px;
	}


}


.es-ES .es a,.eu-ES .eu a ,.en-US .en a { font-weight: bold; }
.es-ES .es::after,.eu-ES .eu::after,.en-US .en::after {
	content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: -5px;
    border-radius: 50%;
    opacity: 0.3;
    left: -5px;
}




.buscadorIcon {
    float: right;
    cursor: pointer;

    span.icon-magnifier.icons {
	    font-size: 16px;
	}
}










.homeContentPrincipal {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    font-family: "roboto";

    h2 {
	    font-family: "roboto";
	    text-transform: uppercase;
	    font-size: 25px;
	}

	 h3 {
	    float: left;
	    width: 100%;
	    margin-top: 0px;
	    font-size: 12px;
	    text-transform: uppercase;
	    margin-bottom: 8px;
	}

	.separador span {
	    font-size: 12px;
	    font-family: "roboto";
	    letter-spacing: 3px;
	    padding-top: 10px;
	    float: left;
	    width: 100%;
	    padding-bottom: 20px;
	}

}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_draggerRail {
	border-color: #868686;
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {

	background-color: #8a8a8a;
}

.mCustomScrollBox {
	margin-top: 10px;
}

.mCS-inset-2-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {

	    background-color: #949494;
}

.mCustomScrollBox {
	max-height: 600px !important;
}


.itemDestacado {
    float: left;

    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 30px;
}



.itemsDestacados {
    margin-top: 75px;
}

.separatorBlock {
    float: left;
    width: 100%;
    height: 1px;
}

.homeContentPrincipal.itemsDestacados h2 {
    margin-bottom: 40px;
}


.itemDestacado .titulo {
    font-family: "roboto";
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 27px;
}

.itemDestacado .content {
    font-family: "roboto";
    font-size: 14px;
    height: 75px;
}

.itemDestacado .link a {
    font-family: "roboto";
    font-size: 13px;
    font-weight: bold;
    color: #000;
    position: relative;
}

.itemDestacado .link a::after {
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #2d2d2d;
    border-right: 1px solid #2d2d2d;
    position: absolute;
    right: -12px;
    transform: rotate(45deg);
    top: 50%;
    margin-top: -3px;
}



.firstFooter {
	float: left;
    width: 100%;
    background-color: #efefef;
    padding-top: 10px;
    border-top: 1px solid #d4d4d4;

    li.facebook a {
	    color: #053867;
	}

	li.twitter a {
	    color: #3a7bbb;
	}

	li.youtube a {
	    color: #af2d2d;
	}

	li.vimeo a {
	    color: #2c3b5a;
	}



    ul {
	    padding: 0px;
	    text-align: center;

	    li {
		    display: inline-block;
		    list-style: none;
		    margin-left: 10px;
		    margin-right: 10px;
		    font-size: 20px;
		    opacity:0.7;

		    &:hover { opacity:1; }
		}

	}
}

.secondFooter {
    float: left;
    width: 100%;

	.logoFooter {
	    float: left;
	    width: 33.3%;
	    height: 70px;
	}

	.centerFooter {
	    float: left;
	    width: 33.3%;
	    text-align: center;
	    margin-top: 20px;
	}

	.footerRight {
	    width: 33.3%;
	    float: left;
	    text-align: right;

	     ul {
		    padding-left: 0px;
		    list-style: none;

		    li:first-child::after {
			    display: none;
			}

		    li {
			    display: inline-block;
			    margin-left: 15px;
			    margin-right: 15px;
			    position: relative;
			    margin-top: 20px;

			    &::after {
				    content: "";
				    width: 1px;
				    height: 20px;
				    background-color: #525252;
				    position: absolute;
				    top: 0px;
				    transform: rotate(45deg);
				    left: -20px;
				}

			    a { color:#000; }
			}


		}
	}
}


/* ficha */

.videoPopup header#banner {
    z-index: 1;
}

.popupVideo {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    .videoInternoApp {
	    position: relative;
	    z-index: 2;
		width: 900px;
		height: 500px;

		video { width:100%;height: 100%; }
		
	}

    .iframeYoutube {
	    position: relative;
	    z-index: 2;
	}

    &::after {
	    position: absolute;
	    z-index: 1;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    background-color: black;
	    content: "";
	    opacity: 0.9;
	}
}

.closePopupVideo {
    background-color: #e6e6e6;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -40px;
    right: 19px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    z-index: 3;
    cursor: pointer;

    &:hover {
    	opacity:1;
    }

    &::after {
		content: "";
	    width: 11px;
	    height: 1px;
	    background-color: #3a3a3a;
	    position: absolute;
	    top: 10px;
	    left: 5px;
	    transform: rotate(45deg);
	}

    &::before {
		content: "";
	    width: 1px;
	    height: 11px;
	    background-color: #565656;
	    position: absolute;
	    top: 5px;
	    left: 10px;
	    transform: rotate(45deg);
	}
}

.tituloVideo {
    float: left;
    width: 100%;
    font-size: 20px;
    margin-bottom: 25px;
    opacity: 0.9;
}
.item { height: auto; }
.imgItem.item { width:100%;height: 700px; }
.carruselPrincipal.owl-carousel.owl-theme { display: block !important;margin-top: -70px; }
.carruselPrincipal {
    float: left;
    width: 100%;
    overflow: hidden;
    max-height: 700px;

    .autor {
	    position: absolute;
	    bottom: 10px;
	    right: 10px;
	    color: #fff;
	    font-size: 10px;
	    text-shadow: 1px 1px 1px #000000;
	}

    .imgItem {
	    float: left;
	    position: relative;
	    height: 700px;

	    .videoContent {
		    position: absolute;
		    z-index: 1;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    text-align: center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;

		    .videoInternoApp {
			    width: 750px;
			    height: 360px;

			    video {
			    	width:100%;
			    	height: 100%;
			    }
			}


		    .videotitle {
			    max-width: 900px;
			    margin-bottom: 30px;
			    font-size: 35px;
			    font-family: "roboto";
			    font-weight: bold;
			    line-height: 40px;
			    margin-top: -50px;
			}

			.videoContent2 {
			    max-width: 900px;
			    opacity: 0.8;
			    margin-bottom: 50px;
			    font-family: "roboto";
			    font-size: 14px;
			}

		    a {
			    position: relative;
			    float: left;
			    width: 100%;
			    cursor: default;
			    img { cursor: pointer;width: auto;display: inline; position:relative;z-index: 2;}

			    .playBtn {
				    position: absolute;
				    width: 100px;
				    height: 100px;
				    background-color: #3e86a5;
				    left: 50%;
				    top: 50%;
				    border-radius: 50%;
				    margin-top: -50px;
				    margin-left: -50px;
				    opacity: 0.8;
				    cursor: pointer;
				    z-index: 3;

				    &:hover { opacity:1; }

				    i {
					    font-size: 40px;
					    position: absolute;
					    top: 30px;
					    left: 38px;
					    color: white;
					}
				}


			}
		}
	}
}



.carruselPrincipal.owl-theme .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    z-index: 1;
    height: 1px;
}

.carruselPrincipal.owl-theme .owl-nav div.owl-prev {
    position: relative;
    float: left;
    background-color: transparent;
    margin-left: 50px;

     &::after {
	    width: 3px;
	    height: 30px;
	    content: "";
	    background-color: #fff;
	    transform: rotate(45deg);
	    float: left;
	    position: relative;
	    top: -13px;
    }

     &::before{
	    width: 3px;
	    height: 30px;
	    content: "";
	    background-color: #fff;
	    transform: rotate(-45deg);
	    float: left;
	    position: relative;
	    left: 3px;
	    top: 6px;
    }
}

.carruselPrincipal.owl-theme .owl-nav div.owl-next {
    float: right;
    position: relative;
    background-color: transparent;
    margin-right: 50px;

     &::after {
	    width: 3px;
	    height: 30px;
	    content: "";
	    background-color: #fff;
	    transform: rotate(-45deg);
	    float: left;
	    position: relative;
	    top: -13px;
    }

     &::before{
	    width: 3px;
	    height: 30px;
	    content: "";
	    background-color: #fff;
	    transform: rotate(45deg);
	    float: left;
	    position: relative;
	    left: 3px;
	    top: 6px;
    }
}


.owl-dots {
    position: relative;
    top: -35px;
}

.owl-theme .owl-dots .owl-dot span {
	background-color: transparent;
	margin: 5px 4px;
	border:1px solid #D6D6D6;


}

.owl-theme .owl-dots .owl-dot.active span {
	background-color: #D6D6D6;
	}

.plyr__sr-only { position: relative; }


.plyr--stopped button.plyr__play-large::after{
    content: "\f04b";
    position: absolute;
    font-family: "FontAwesome";
    top: 8px;
    font-size: 16px;
    left: 16px;
}

.plyr--video .plyr__controls>button:first-child::after {
    content: "\f04b";
    font-family: "FontAwesome";
    position: absolute;
    top: 10px;
    left: 12px;
}

.plyr--video .plyr__controls>button:first-child+button::after  {

    content: "\f04c";
    position: absolute;
    font-family: "FontAwesome";
    top: 10px;
    left: 11px;
}



.plyr__volume+button+button::after {
content: "\f065";
    position: absolute;
    font-family: "FontAwesome";
    top: 10px;
    left: 11px;
}


    .plyr__time+button::after {
    content: "\f028";
    position: absolute;
    font-family: "FontAwesome";
    top: 10px;
    left: 11px;
    }



    div#mapa {
    float: left;
    width: 100%;

    iframe {
    	float: left;
    	width: 100%;
    }
}



.hamburguesa {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 12px;
    position: relative;
    cursor: pointer;

	.c1 {
	    width: 24px;
	    height: 1px;
	    background-color: #fff;
	    position: absolute;
	    top: 15px;
	    left: 10px;
	    transition: all 0.4s linear;
	}

	.c2 {
	    width: 24px;
	    height: 1px;
	    background-color: #fff;
	    position: absolute;
	    top: 19px;
	    left: 10px;
	    transition: all 0.4s linear;
	}

	 .c3 {
	    width: 24px;
	    height: 1px;
	    background-color: #fff;
	    position: absolute;
	    top: 23px;
	    left: 10px;
	    transition: all 0.4s linear;
	}
}


.searcher {
    overflow: hidden;
}

.containerImage.it4,.containerImage.it3,.containerImage.it2 ,.containerImage.it1{
    margin-top: -50px;
}



.bloqueMapa.carrusel .bloqueCentrado {
    max-width: 1000px;
}


.mapaContent {
    float: left;
    width: 100%;
    font-family: "roboto";

    .bloqueMapa {
	    float: left;
	    width: 100%;
	}	

	.bloqueCentrado {
	    margin: 0 auto;
	    max-width: 1300px;
	    width: 100%;
	    text-align: center;
	}

	.bloqueMapa.content2Ficha .bloqueCentrado {
	    width: 100%;
	    max-width: 1300px;
	    min-height: 300px;
	}
	.columna-izq,.columna-dcha{
	    float: left;
	    width: 50%;
	    text-align: left;
	    padding-left: 2%;
	    padding-right: 2%;
	    position: relative;
	}

	.bloqueMapa.destacadoPrincipal h2 {
	    text-transform: uppercase;
	    font-size: 24px;
	    color: #404040;
	        margin-bottom: 0px;
    	padding-bottom: 0px;
    	margin-top: 53px;
	}

	.bloqueMapa.destacadoPrincipal h3 {
	    font-size: 17px;
	    color: #000000;
	    margin-top: 6px;
	    margin-bottom: 40px;
		}

	.dottedSeparation {
	    width: 143px;
	    height: 1px;
	    margin: 0 auto;
	    margin-bottom: 50px;
	    margin-top: 10px;
	    display: inline-block;
	    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
	    background-position: bottom;
	    background-size: 3px 1px;
	    background-repeat: repeat-x;
	}

	.contenidoPRincipal {
	    font-size: 14px;
	        margin-bottom: 60px;
	}

	.bloqueMapa.content2Ficha h2 {
	    font-size: 19px;
	    font-weight: bold;
	    font-style: italic;
	    margin-top: 41px;
	    margin-bottom: 50px;
	    position: relative;
	    float: left;
	}

	.bloqueMapa.content2Ficha h2::after {
	    content: "";
	    width: 45px;
	    height: 2px;
	    background-color: #464646;
	    position: absolute;
	    left: 0px;
	    bottom: -25px;
	}

	.bloqueMapa.content2Ficha h2::before {
	    content: "";
	    height: 1px;
	    position: absolute;
	    bottom: -25px;
	    width: 160px;
	    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
	    background-position: bottom;
	    background-size: 3px 1px;
	    background-repeat: repeat-x;
	}

	.columnaSection1,.columnaSection2,.columnaSection3 {
	    padding-bottom: 50px;
	    float: left;
	    width: 100%;
	    position: relative;
	}


	.columna-izq::after {
	    content: "";
	    position: absolute;
	    right: -1px;
	    width: 1px;
	    height: 80%;
	    background-color: #cccccc;
	    top: 10%;
	}
	.columna-dcha::after {
	    content: "";
	    position: absolute;
	    left: 0px;
	    width: 1px;
	    height: 80%;
	    background-color: #cccccc;
	    top: 10%;
	}



	.carruselMapPics {
		    float: left;
   		width: 100%;
   		position: relative;

   		.item a { color: #fff; span { color:#fff; } }

			.owl-nav {
			    float: left;
			    width: 100%;
			    height: 1px;
			    position: absolute;
			    top: 50%;
			    z-index: 1;

			    .owl-prev {
				    width: 50px;
				    height: 50px;
				    position: absolute;
				    left: -60px;
				    top: -25px;
				    transform: rotate(45deg);
				    border-left: 1px solid #484848;
				    border-bottom: 1px solid #484848;
				    cursor: pointer;
				}

				.owl-next {
				    width: 50px;
				    height: 50px;
				    position: absolute;
				    right: -60px;
				    top: -25px;
				    transform: rotate(45deg);
				    border-right: 1px solid #484848;
				    border-top: 1px solid #484848;
				    cursor: pointer;
				}

				div.disabled {
				    opacity: 0.3;
				}
			}


			.owl-dots {
			    float: left;
			    width: 100%;
			    height: auto;
			    position: relative;
			    top: 0px;
			    text-align: center;
			    margin-top: 20px;

			    .owl-dot {
				    width: 10px;
				    height: 10px;
				    cursor: pointer;
				    float: none !important;
				    display: inline-block;
				    margin-left: 5px;
				    margin-right: 5px;
				    border-radius: 50%;
				    border: 1px solid #737373;

				    &.active {
				    	background-color: #737373;
				    }
				}
			}




   		.owl-stage-outer {
		    width: 100%;
		    float: left;
		    overflow: hidden;

		    .owl-stage {
			    float: left;

			    .owl-item {
				    float: left;

				    .item {
				    	width:96%;
				    	margin-left: 2%;
				    	position: relative;

				    	a .autor {
						    position: absolute;
						    z-index: 1;
						    bottom: 0px;
						    right: 5px;
						    color: #fff;
						    text-decoration: none;
						    opacity: 0.7;
						    text-shadow: 1px 1px 1px #000;
						    font-size: 10px;
						}
				    }
				}
			}
		}
	}

	.bloqueCentrado {
	    margin: 0 auto;
	    max-width: 1300px;
	    width: 100%;
	    text-align: center;

	    .item { width:auto; }

	     img {
		    max-width: 100%;
		}
	}

	.mapaLeft {
	    float: left;
	    width: 50%;
	    padding: 4%;
	}

	.bloqueMapa.mapaInfo { }

	.mapaRight {
	    float: left;
	    width: 50%;
	    padding: 2%;
	    padding-top: 4%;

	    .claveValor {
		    float: left;
		    width: 100%;
		    text-align: left;
		    border-bottom: 1px solid #e7e7e7;
		    padding-top: 5px;
		    padding-bottom: 5px;

		    .clave {
			    float: left;
			    width: 200px;
			    margin-bottom: 2px;
			    font-weight: bold;
			    text-transform: uppercase;
			    margin-top: 5px;
			}

			.valor {
			    float: left;
			    width: calc(100% - 200px);
			    margin-top: 5px;
			    margin-bottom: 10px;
			}
		}

		.tags {
		    float: left;
		    width: 100%;
		        margin-top: 15px;

		    ul {
			    list-style: none;
			    margin: 0px;
			    padding: 0px;
			    float: left;
			    width: 100%;
			    text-align: left;

			    li {
					float: left;
				    background-color: white;
				    border: 1px solid #cecece;
				    border-radius: 4px;
				    padding: 9px;
				    text-transform: uppercase;
				    font-size: 11px;
				    margin-right: 15px;
				    padding-left: 35px;
				    padding-right: 15px;
				    position: relative;
				    margin-bottom: 10px;

				    &::before {
					    content: "\f02b";
					    font-family: "FontAwesome";
					    font-size: 15px;
					    position: absolute;
					    top: 6px;
					    color: #4f4b4a;
					    left: 10px;
					}
				}
			}
		}


	}


	.seccionNormativa {
	    text-align: center;
	    max-width: 1000px;
	    margin: 0 auto;
	    width: 100%;
	    margin-top: 40px;
	    margin-bottom: 40px;
	}

	.bloqueMapa.normativa .btnNormativa {
	    margin-top: 10px;
	    display: inline-block;
	   /* border: 1px solid #5a5a5a;*/
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border-radius: 25px;
	    text-transform: uppercase;
	    font-size: 13px;
	   /* color: #000;*/
	}

	.bloqueMapa.normativa {
	    padding-bottom: 50px;
	}

	.bloqueMapa.documentacion,.bloqueMapa.masInformacion {
	    width: 50%;
	    float: left;
	}
	.bloqueMapa.carrusel {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.bloque2Columnas {
	    float: left;
	    width: 100%;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-bottom: 0px;
	}

	.bloqueMapa.documentacion .bloqueCentrado ,.bloqueMapa.masInformacion .bloqueCentrado {
	    float: right;
	    max-width: 630px;
	    text-align: left;
	    h2 {
	    	float: left;width: 100%;text-align: center;
	    	text-transform: uppercase;
		    font-size: 22px;

		            margin-bottom: 20px;
    margin-top: 30px;
	    }
	}

	.bloqueMapa.masInformacion .bloqueCentrado{ float: left; }
	.listadoDocumentacion {
	    float: left;
	    width: 96%;
	    margin-left: 2%;
	    margin-bottom: 20px;

	    &>p { display: none; }
	     ul {
			    float: left;
			    width: 50%;
			}
	}


	.bloqueMapa.masInformacion li {
	    float: left;
	    clear: left;
	    margin-bottom: 10px;
	    position: relative;
	    list-style: none;
	    font-size: 14px;

	    &::after {
	    	    content: "\f0c1";
		    font-family: "fontAwesome";
		    position: absolute;
		    top: 0px;
		    left: -25px;
	    }
	}
	.bloqueMapa.masInformacion ul {
	    width: 70%;
	    margin: 0 auto;
	}

	.bloqueMapa.documentacion ul li {
	    position: relative;
	    margin-bottom: 8px;
	    float: left;
	    clear: left;
	    margin-top: 8px;
	    list-style: none;
	}

	.bloqueMapa.documentacion ul li i {
	    position: absolute;
	    left: -22px;
	    top: 0px;
	}

	.listadoDocumentacion>ul>li>span {
	    margin-bottom: 10px;
	    float: left;
	}

	.mapaContent .listadoDocumentacion {
	    float: left;
	    width: 96%;
	    margin-left: 2%;
	    margin-bottom: 20px;
	}

	.listadoDocumentacion>ul {
	    padding-left: 0px;
	}

	.listadoDocumentacion ul ul {
	    width: 100% !important;
	}

	.separador {
background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    width: 100px;
    height: 1px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 20px;

	}

}



.portletLinksFicha {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 50px;

    .fichaTitle {
	    float: left;
	    width: 100%;
	    text-align: center;
	    text-transform: uppercase;
	    color: #000;
	    text-decoration: none;
	    font-size: 20px;

	    a {
	    	color: #000;
	    	text-decoration: none;
	    	font-size: 25px;
	    }
	}

	.filtrosDicha {
	    float: left;
	    width: 100%;
	    text-align: center;

	    input {
		    margin-top: 40px;
		    width: 300px;
		    height: 35px;
		    border-radius: 3px;
		    box-shadow: none;
		    border: 1px solid #bfbfbf;
		    background-color: #f1f1f1;
		    outline: 0;
    		padding-left: 10px;
		}
	}

	.fichaLinksCenter {
	    float: left;
	    width: 100%;
	    margin-top: 25px;
	    padding-top: 40px;
	    position: relative;
	    margin-bottom: 50px;

	    &::after {
		    width: 100%;
		    height: 1px;
		    margin: 0 auto;
		    margin-bottom: 50px;
		    margin-top: 10px;
		    display: inline-block;
		    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
		    background-position: bottom;
		    background-size: 3px 1px;
		    background-repeat: repeat-x;
		    content: "";
		    position: absolute;
		    top: 0px;
		    left: 0px;
		}

		li {

			display: block;
		    float: left;
		    width: 25%;
		    margin-bottom: 9px;
		}

		a {
		    color: #616161;


		    &:hover {
			    font-weight: bold;
			}
		}
		ul#searchUl {
	    float: left;
	    width: 100%;
	    padding: 0px;
	    margin: 0px;
	    list-style: none;
	}
			.separationContent3,.separationContent2 { display: none; }
		.separationContent4,.separationContent3,.separationContent2 {
			    float: left;
			    width: 100%;
			    height: 1px;
			}
	
	}

}


span.iconColor {
    display: block;
    width: 15px;
    height: 15px;
    float: left;
    position: relative;
    left: -10px;
    top: 1px;
    overflow: hidden;
}

span.iconColor2 {
    display: block;
    position: absolute;
    width: 22px;
    height: 30px;
    transform: rotate(56deg);
}

#portletLinksFicha{ float: left;width: 100%; }



.es-ES .es,.eu-ES .eu,.en-US .en { display:inline-block !important }

.owl-nav.disabled { display: none; }
.bloqueMapa.content2Ficha li {
    margin-bottom: 10px;
}

.bloqueMapa.masInformacion {
    padding-bottom: 40px;
}





/*RESPONSIVO*/
@media(max-width: 1300px){

	.portletLinksFicha {
	    width: 96%;
	    margin: 0 auto;
	    margin-left: 2%;
	    margin-right: 2%;
	}

	.homeContentPrincipal {
	    width: 96%;
	    margin-left: 2%;
	    margin-right: 2%;
	    float: left;
	    clear: both;
	}

	.itemDestacado {
	    float: left;
	    width: 96%;
	    margin-left: 2%;
	    margin-right: 2%;
	    margin-bottom: 30px;
	}

	.mapaContent .bloqueCentrado {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.bloqueMapa.carrusel .bloqueCentrado { max-width: 2000px; }
}



@media(max-width: 1150px){



	nav#navigation ul li{width: auto;}

	.mapaContent .carruselMapPics .owl-nav .owl-prev {
	    width: 50px;
	    height: 50px;
	    position: absolute;
	    left: 35px;
	    top: -25px;
	    transform: rotate(45deg);
	    border-left: 1px solid #ffffff;
	    border-bottom: 1px solid #ffffff;
	    cursor: pointer;
	}

	.mapaContent .carruselMapPics .owl-nav .owl-next {
	    width: 50px;
	    height: 50px;
	    position: absolute;
	    right: 35px;
	    top: -25px;
	    transform: rotate(45deg);
	    border-right: 1px solid #ffffff;
	    border-top: 1px solid #ffffff;
	    cursor: pointer;
	}
}


@media(max-width: 1024px){
.separationContent3 { display: block; }
.separationContent4 { display: none; }
.portletLinksFicha .fichaLinksCenter li {
    display: block;
    float: left;
    width: 33%;
    margin-bottom: 9px;
}

.carruselPrincipal.owl-theme .owl-nav{display: none;}
	.carruselPrincipal .imgItem {
	    float: left;
	    position: relative;
	    height: 500px;
	}

.mapaContent .bloqueMapa.masInformacion ul {
    width: 100%;
    margin: 0 auto;
    min-height: 100px;
    text-align: left;
    max-width: 475px;
}
	.mapaContent .carruselMapPics .owl-nav {display: none;}
	.mapaContent .bloqueMapa.documentacion .bloqueCentrado, .mapaContent .bloqueMapa.masInformacion .bloqueCentrado {
		width: 100%;
		max-width: 1500px;
		margin:0px;
	}
	.mapaContent .bloqueMapa.documentacion, .mapaContent .bloqueMapa.masInformacion {
	    width: 100%;
	    float: left;
	    padding-bottom: 40px;
	}
	.mapaContent .columna-izq, .mapaContent .columna-dcha {
	    float: left;
	    width: 100%;
	    text-align: center;
	    padding-left: 2%;
	    padding-right: 2%;
	    position: relative;
	}

	.mapaContent .bloqueMapa.content2Ficha h2::after {
	    content: "";
	    width: 45px;
	    height: 2px;
	    background-color: #464646;
	    position: absolute;
	    left: 50%;
	    bottom: -25px;
	    margin-left: -22px;
	}

	.mapaContent .columna-dcha::after{display: none;}


	#banner {
	    position: fixed;
	    z-index: 999;
	    width: 100%;
	    top: 0px;
	}

	#banner::after { opacity: 0.8; }
	.hamburguesa { display: block !important; }

	div#heading { width: 250px; }

	.mobileMenu {
		overflow: hidden;
	}
	.mobileMenu nav#navigation {
		margin-left: 300px;
	}
	.mobileMenu .c2 {
		opacity: 0;
	}

	section#content {
	    opacity: 1;
	    transition: opacity 0.4s linear;
	}

	.mobileMenu section#content {
	    opacity: 0.2;
	}

	.mobileMenu nav#navigation::before {
	    content: "";
	    width: 1px;
	    height: 100%;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    background-color: #cecece;
	    z-index: 2;
	}

	
	.mobileMenu .c1 {
		transform: rotate(45deg);
    top: 17px;
	}

		.mobileMenu .c3 {
		    transform: rotate(-45deg);
   			 top: 17px;
	}


	.mobileMenu  .wrapperOverlay {
	    width: 100%;
	    height: 100%;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    z-index: 999;
	}
	nav#navigation ul li:hover::after { display: none; }
	nav#navigation {
	    width: 300px;
	    position: fixed;
	    height: 100%;
	    top: 70px;
	    margin-top: 0px;
	    height: calc(100% - 70px);
	    overflow-y: auto;
	    left: -300px;
	    transition: margin-left 0.4s linear;
	    margin-left: 0px;



	    ul {
		    margin-top: 20px;
		    padding: 0px;
		    list-style: none;
		    position: relative;
		    z-index: 2;

		   	li.selected::after{ display:none; }

		    	li a {
				    color: #151515;
				    margin-left: 15px;

				    &:hover { font-weight:bold; }
				}
		}


	    ul li {
		    display: inline-block;
		    width: 96%;
		    margin-left: 2%;
		    margin-right: 2%;
		    position: relative;
		    text-align: left;
		    margin-bottom: 10px;
		}


	    &::after {
		    content: "";
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    background-color: #fff;
		    opacity: 0.9;
		    z-index: 1;
		}
	}


	.itemCenter {

	    position: absolute;
	    width: 800px;
	    height: 600px;
	    top: 50%;
	    left: 50%;
	    z-index: 99;
	    margin-left: -400px;
	}


	.rombo {
	    width: 175px;
	    height: 175px;
	}

	.containerImage{

		.item::before {
		    bottom: -35px;left: 80px;
		}
		.item::after {
		    top: -34px;left: 81px;
		}
		.hoverSecondary::after {
    		bottom: -34px;
    		left: -34px;
    	}
    	.hoverSecondary::before {
    		  top: 88px;
   			 right: -10px;
    			
    	}

    	.itemContainer {
		    position: absolute;
		    width: 175px;
		    height: 175px;
		}
	}

    .containerImage.it8 {


	    .item1 {
	    	margin-left: 60px;
	    }
	    .item2 {
		    margin-left: 60px;
		}

		.item3 {
		    margin-left: 130px;
		    top: -45px;
		    clear: left;
		}

		.item4 {
		    top: -45px;
		    margin-left: 60px;
		}

		.item5 {
		    top: -89px;
		    margin-left: 0px;
		    clear: left;
		}
		.item6 {
		    top: -88px;
		    margin-left: 60px;
		}

		.item7 {
		    top: -88px;
		    margin-left: 61px;
		}

		
	}/*container 8*/


	.containerImage.it7 {

		.item.item0 {
		    margin-left: 167px;
		    margin-top: -9px;
		}

		.item.item1 {
		    margin-left: 60px;
		    margin-top: -9px;
		}

		.item.item2 {
			clear: left;
			top:-44px;
		}

		.item.item3 {
		    margin-left: 62px;
		    top: -43px;
		    clear: none;
		}

		.item.item4 {
		    top: -44px;
		    margin-left: 61px;
		}

		.item.item5 {
		    top: -86px;
		    margin-left: 167px;
		    clear: left;
		}

		.item.item6 {
		    top: -86px;
		    margin-left: 60px;
		}
		
	}/*container 7*/




	.containerImage.it6 {

		.item.item0 {
		    margin-left: 170px;
		}
		 .item.item2 {
		    margin-left: 35px;
		}

		.item.item3 {
		    margin-left: 354px;
		    top: -45px; 
		}

		.item.item4 {
		    top: -90px;
		    margin-left: 170px;
		}

		.item.item5 {
			    top: -90px;
			    margin-left: 90px;
			    clear: none;
			}

	}/*container 6*/
	


	.containerImage.it5 {

		.item.item0 {
		    margin-left: 182px;
		    top: 3px;
		}

		.item.item1 {
		    margin-left: 60px;
		}

		.item.item2 {
		    margin-left: 311px;
		    top: -40px;
		}

		.item.item3 {
		    margin-left: -330px;
		    top: 91px;
		}

		.item.item4 {
		    margin-left: -66px;
		    top: 92px;
		}

	}/*container 5*/
	

	.containerImage.it4 {

		.item.item0 {
		    margin-left: 80px;
		    top: 3px;
		    margin-top: 110px;
		}

		.item.item1 {
		    margin-left: 60px;
		}

		.item.item2 {
		    margin-left: 209px;
		    top: -41px;
		}

		.item.item3 {
		    margin-left: 63px;
		    top: -41px;
		}

	}/*container 4*/

	.containerImage.it3 {
		.item.item0 {
		    margin-left: 170px;
		    top: 3px;
		    margin-top: 110px;
		}

		.item.item1 {
		    margin-left: 60px;
		}

		.item.item2 {
		    margin-left: 299px;
		    top: -40px;
		}

	}/*container 3*/

	.containerImage.it2 {

		.item.item0 {
		    margin-left: 170px;
		    top: 3px;
		    margin-top: 170px;
		}

		.item.item1 {
		    margin-left: 60px;
		    top: 173px;
		    left: 2px;
		}


	}/*container 2*/

	.containerImage.it1 {

		.item.item0 {
		    margin-left: 315px;

		}

	}/*container 2*/


	.carruselPrincipal .imgItem .videoContent .videoInternoApp {
	    width: 500px;
	    height: 250px;
	}

}


@media(max-width: 800px){


.portletLinksFicha .fichaLinksCenter li {
    display: block;
    float: left;
    width: 46%;
    margin-bottom: 9px;
    margin-left: 2%;
    margin-right: 2%;
}
.separationContent2 {
    display: block;
}
.separationContent3 {
    display: none;
}

.bloqueMapa.masInformacion {
    padding-bottom: 20px;
}
	.mapaContent .listadoDocumentacion ul {
	    float: left;
	    width: 100%;
	    text-align: center;
	}
	.mapaContent .bloqueMapa.documentacion ul li ,.mapaContent .listadoDocumentacion > ul > li > span { width: 100%; }
	.mapaContent .bloqueMapa.documentacion ul li i { position: relative; }
	.mapaContent .mapaLeft {
	    float: left;
	    width: 100%;
	    padding: 4%;
	}

	.mapaContent .listadoDocumentacion > ul { margin-top: 20px;margin-bottom: 20px; }

	.mapaContent .mapaRight {
	    float: left;
	    width: 100%;

	}
	.centradotrue.contenidoApertura .aperturaContenidoBloque {
		min-width: 1px;
		height: 100%;
	}



	.itemCenter {
	    position: relative;
	    width: 500px;
	    height: 600px;
	    top: 100px;
	    left: 50%;
	    z-index: 99;
	    margin-left: -250px;
	    margin-top: 0px;
	}

	.containerImage {
	    position: relative;
	    float: left;
	    padding-left: 0px !important;
	}

	.containerImage {
	    width: 100%;
	}

	.rombo {
	    width: 125px;
	    height: 125px;
	}

	.item {
	    position: relative;
	    width: 125px;
	}

	.containerImage.it8 {

		.item3 {
		    margin-left: 92px;
		    top: -33px;
		    clear: left;
		}

		.item4 {
		    top: -32px;
		    margin-left: 61px;
		}

		.item5 {
		    top: -65px;
		}

		.item6 {
		    top: -65px;
		    margin-left: 59px;
		}

		.item7 {
		    top: -64px;
		    margin-left: 61px;
		}
	}


	
	.containerImage.it7 {

		.item.item0 {
		    margin-left: 97px;
		    margin-top: 40px;
		}

		.item.item1 {
		    margin-left: 60px;
		    margin-top: 40px;
		}

		.item.item2 {
		    clear: left;
		    top: -31px;
		    margin-left: 0px;
		}

		.item.item3 {
		    margin-left: 65px;
		    top: -30px;
		}

		.item.item4 {
		    top: -30px;
		    margin-left: 60px;
		}

		.item.item5 {
		    top: -61px;
		    margin-left: 96px;
		}

		.item.item6 {
		    top: -59px;
		    margin-left: 61px;
		}

	}


	.containerImage.it6 {

		.item.item0 {
		    margin-left: 85px;
		    margin-top: 40px;
		}

		.item.item1 {
		    margin-left: 60px;
		    margin-top: 40px;
		}

		.item.item2 {
		    margin-left: -11px;
		    top: -31px;
		}

		.item.item3 {
		    margin-left: 250px;
		    top: -32px;
		}

		.item.item4 {
		    top: -63px;
		    margin-left: 86px;
		}

		.item.item5 {
		    top: -63px;
		    margin-left: 59px;
		    clear: none;
		}
	}



	.containerImage.it5 {

		.item.item0 {
		    margin-left: 90px;
		    top: 0px;
		    margin-top: 40px;
		}

		.item.item1 {
		    margin-left: 60px;
		    margin-top: 40px;
		    top: 0px;
		}

		.item.item2 {
		    margin-left: 182px;
		    top: -30px;
		}

		.item.item3 {
		    margin-left: -217px;
		    top: 64px;
		}

		.item.item4 {
		    margin-left: -29px;
		    top: 65px;
		}
	}



	.containerImage.it4 {

		.item.item0 {
		    margin-left: 40px;
		    top: 0px;
		    margin-top: 40px;
		}

		.item.item1 {
		    margin-left: 60px;
		    top: 40px;
		    left: 2px;
		}

		.item.item2 {
		    margin-left: 132px;
		    top: -32px;
		}

		.item.item3 {
		    margin-left: 63px;
		    top: -32px;
		}

	}


	.containerImage.it3 {

		.item.item0 {
		    margin-left: 90px;
		    top: 0px;
		    margin-top: 40px;
		}
		.item.item1 {
		    margin-left: 65px;
		    top: 40px;
		}

		.item.item2 {
		    margin-left: 185px;
		    top: -31px;
		}
	}


	.containerImage.it2 {

		.item.item0 {
		    margin-left: 90px;
		    top: 0px;
		    margin-top: 40px;
		}

		.item.item1 {
		    margin-left: 60px;
		    top: 0px;
		    left: 3px;
		    margin-top: 40px;
		}
	}


	.containerImage.it1 {

		.item.item0 {
		    margin-left: 200px;
		    margin-top: 40px;
		    top: 0px;
		    left: 0px;
		}

	}




	.containerImage.it4, .containerImage.it3, .containerImage.it2, .containerImage.it1 { margin-top:0px; }
	.containerImage .itemContainer {
	    position: absolute;
	    width: 125px;
	    height: 125px;
	}

	.containerImage .item::before {
	    bottom: -25px;
	    left: 56px;
	}

	.containerImage .item::after {
	    top: -24px;
	    left: 55px;
	}

	.containerImage .hoverSecondary::before {
	    top: 63px;
	    right: -24px;
	}

	.containerImage .hoverSecondary::after {
	    bottom: -34px;
	    left: -25px;
	}

	.descItem { display: none; }
	.tituloItem {
	    display: block;
	    clear: both;
	    width: 125px;
	    margin: 0 auto;
	    text-transform: uppercase;
	    font-size: 9px;
	    letter-spacing: 2px;
	}

	.itemContainer.bigIcontrue i {
		margin-top: 0px;
	}

	.itemCenter { height: 400px; }

	.containerImagePrincipal {
	    position: relative;
	    height: 900px;
	    overflow: hidden;
	    margin-top: -70px;
	    display: flex;
	    align-items: center;
	    justify-content: center;

	    .itemCenter{ 
    	    position: relative;
		    width: 500px;
		    height: 400px;
		    top: 0px;
		    left: 0px;
		    z-index: 99;
		    margin-left: 0px;
		    margin-top: 0px;
	     }
	}


	.aperturaContenidoBloque {
	    position: relative;
	    top: 0px;
	    z-index: 101;
	    width: 96%;
	    max-width: 1000px;
	    margin-left: 2%;
	    min-width: 1px;
	    overflow: hidden;
	    float: left;
	    margin-top: 150px;
	    height: auto;
	}

.carruselPrincipal.owl-theme .owl-nav { display: none; }

}


 @media(max-width: 775px){
 	.carruselPrincipal .owl-dots {
	    position: relative;
	    top: 10px;
	}
 }


@media(max-width: 575px){


	.portletLinksFicha .fichaLinksCenter li {
	    display: block;
	    float: left;
	    width: 96%;
	    margin-bottom: 9px;
	    margin-left: 2%;
	    margin-right: 2%;
	    text-align: center;
	}

	.mapaContent .mapaRight .claveValor .clave,.mapaContent .mapaRight .claveValor .valor{ width: 50%; }
	.carruselPrincipal .imgItem .videoContent .videoInternoApp {
	    width: 100%;
	    height: 250px;
	}
	.containerImage .item::before {
	    bottom: -21px;
	    left: 46px;
	}
	.containerImage .item::after {
	    top: -21px;
	    left: 46px;
	}
	.containerImage .hoverSecondary::before {
	    top: 53px;
	    right: 0px;
	}

	.containerImage .hoverSecondary::after {
	    bottom: -34px;
	    left: -20px;
	}

	.imagenFondo {
	    position: absolute;
	    width: 182px;
	    height: 175px;
	    transform: rotate(-45deg);
	    top: -30px;
	    left: -26px;
	    opacity: 0.7;
	    z-index: 2;
	}

	.itemContainer.bigIcontrue i {
		margin-bottom: 0px;
	}

	.itemsDestacados {
	    margin-top: 20px;
	}


	.secondFooter .footerRight {
	    width: 100%;
	    float: left;
	    text-align: center;
	}


	.secondFooter .footerRight ul li {
	    display: inline-block;
	    position: relative;
	    margin-top: 10px;
	    width: 96%;
	    margin-left: 2%;
	    margin-right: 2%;
	    margin-bottom: 10px;
	}

	.secondFooter .centerFooter {
	    float: left;
	    width: 100%;
	    text-align: center;
	    margin-top: 0px;
	    background-color: #f3f3f3;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    margin-bottom: 10px;
	}

	.secondFooter .logoFooter {
	    float: left;
	    width: 100%;
	    height: 70px;
	    text-align: center;
	}

	.secondFooter .centerFooter {
	    float: left;
	    width: 100%;
	    text-align: center;
	    margin-top: 0px;
	}


	.containerImage .itemContainer {
	    position: absolute;
	    width: 100px;
	    height: 90px;
	}

	.tituloItem {
	    display: block;
	    clear: both;
	    width: 100px;
	}
	.rombo {
	    width: 105px;
	    height: 105px;
	}


	div#item0 {
	    position: relative;
	    left: 27px;
	    margin-left: 0px;
	}

	.item1#item1 {
	    margin-left: 60px;
	}
	.item2#item2 {
	    margin-left: 106px !important;
	    margin-top: -24px;
	    top:0px;
	    left: 0px;
	}

	.item3#item3 {
	    margin-left: 26px;
	    top: -24px;
	    clear: left;
	}

	.item4#item4 {
	    top: -24px;
	    margin-left: 0px;
	    clear: none;
	    float: right;
	    margin-right: 10px;
	}

	.item5#item5 {
	    top: -50px;
	    margin-left: 105px;
	}


	.item6#item6 {
	    top: -76px;
	    margin-left: 25px;
	}

	.item7#item7 {
	    top: -75px;
	    margin-left: 0px;
	    float: right;
	    clear: none;
	    margin-right: 9px;
	}


	.itemCenter {
	    position: relative;
	    width: 320px !important;
	    top: 100px;
	    left: 50%;
	    z-index: 99;
	    margin-left: -160px;
	    margin-top: 0px;
	}

	.recursivas .circleSeparator {
	    opacity: 0;
	}

	.recursivas .mapaHome+.circleSeparator {
	    opacity: 1;
	}

	.idioma.idiomaMobile::after {
	    content: "";
	    width: 90%;
	    height: 1px;
	    background-color: #e8e8e8;
	    position: absolute;
	    left: 0px;
	    bottom: -7px;
	    z-index: 9;
	    margin-left: 5%;
	}

	.idioma.idiomaMobile ul li {
	    float: left;
	}
	nav#navigation ul li a { margin-right: 15px; }
	.dottedSeparator {
	    float: left;
	    width: 1px;
	    height: 21px;
	    background-color: #848484;
	}
	.recursivas .idioma { display: none; }
	nav#navigation ul li {
	    width: auto;
	}

	.idioma.idiomaMobile {
	    display: block !important;
	    float: left;
	    width: 100%;
	    margin-bottom: 20px;
	    position: relative;

	    ul {
	    	float: left;
	    	width: 100%;
	    }
	}

	.recursivas { width: auto; }

	nav#navigation > ul > li {
	    clear: both;
	    float: left;
	}

	.itemCenter {
	    height: 510px;
	}

	.containerImagePrincipal {
	    position: relative;
	    height: 700px;
	    overflow: hidden;
	    margin-top: -70px;
	}

	.aperturaContenidoBloque {
	    position: relative;
	    top: 0px;
	    z-index: 101;
	    width: 96%;
	    max-width: 1000px;
	    margin-left: 2%;
	    min-width: 1px;
	    overflow: hidden;
	    float: left;
	    margin-top: 80px;
	    height: auto;
	    margin-right: 2%;
	}


	.containerImagePrincipal.mostrarApertura {
	

		position:fixed;
		    width: 100%;
	    z-index: 99;
	}

	.mostrarApertura .aperturaContenedorPrincipal {
	    position: fixed;
	    top: 0px;
	    width: 100%;
	    height: 100%;
	    overflow: hidden;
	    left: 0px;
	    z-index: 100;
	}

	.aperturaContenidoBloque {
	    position: relative;
	    top: 0px;
	    z-index: 101;
	    width: 96%;
	    max-width: 10000px;
	    margin-left: 2%;
	    min-width: 1px;
	    overflow: hidden;
	    float: left;
	    margin-top: 90px;
	    height: calc(100% - 90px) !important;
	}

	.aperturaParrafo {
	    position: relative;
	    z-index: 2;
	    color: #fff;
	    padding: 2%;
	    float: left;
	    clear: both;
	    height: calc(96% - 40px);
	}
	
	/*.aperturaContenidoBloque {
	    position: relative;
	    top: 0px;
	    z-index: 101;
	    width: 96%;
	    max-width: 10000px;
	    margin-left: 2%;
	    min-width: 1px;
	    overflow: hidden;
	    float: left;
	    margin-top: 90px;
		    height: auto;
		}*/

	.aperturaContenidoBloque {
		text-align:center;
	}

	.aperturaParrafo hr::after {
	    content: ".................";
	    position: absolute;
	    top: 0px;
	    left: inherit;
	    letter-spacing: 6px;
	    font-size: 8px;
	    font-family: "verdana";
	    margin-left: -70px;
	}

	body.apertura { overflow: hidden; }

	.itemCenter {
	    height: calc(100% - 200px);
	        display: flex;
	    align-items: center;
	    justify-content: center
	}

	.containerImage.it8 ,.containerImage.it7{
	    height: 460px;
	}

	.containerImage.it6 ,.containerImage.it5,.containerImage.it4,.containerImage.it3{
	    height: 400px;
	}

	.containerImage.it3 ,.containerImage.it2,.containerImage.it1{
	    height: 275px;
	}

	.it1 div#item0 {
	    position: relative;
	    left: 105px;
	    margin-left: 0px;
	}

}


@media(max-width: 360px){

	div#heading h1 {
	    margin-top: 0px;
	    margin-bottom: 0px;
	    margin: 0px !important;
	    float: left;
	}

	span.logoName {
	    color: #ffffff;
	    text-transform: lowercase;
	    font-size: 20px;
	    margin-top: 23px;
	    float: left;
	}

	.recursivas {
	    position: relative;
	    right: -10px;
	}


}
